h1{
  color: red;
}
body{
  background-image: url("https://wallpaper-house.com/data/out/10/wallpaper2you_410827.jpg");
  background-size:900px 1000px;
  color:silver;
}
.qs {
  color: red;
}
.container{
  margin: auto;
   width: 50%;
   border: 3px solid silver;
   padding: 10px;

  align-items: center;
}
